html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: rgb(133, 92, 245);
    background-image: url(https://picsum.photos/seed/14/900);
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.mobile {
    display: none;
}

@media only screen and (max-width : 500px){

    body {
        background-image: url(https://picsum.photos/seed/13/900);
        background-color: chartreuse;
        min-height: 200vh;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }


}